*{
    background-color:#5256AD;
    
}
/*.Shape1 {
   width: 200px;
   height: 310px;
   margin-top: 220px;
   background-color:#999EDE ;
   margin-left: 380px;
   padding-left: 50%;
   position: absolute;
}
h3{
     
     position: fixed;
     margin-left: -390px;
     background-color:#999EDE ;
     margin-top: 100px;
}
.Shape2 {
    width: 250px;
    height: 390px;
    background-color: aliceblue;
    margin-top: 170px;
    margin-left: 450px;
    position: sticky;
    
}
.btn {
    position: fixed;
     margin-left: -390px;
     background-color : white ;
     margin-top: 100px;
}*/
